html, body{
	background-color: #dcdcdc;
}


#fh5co-parent{
	width: 100%;
	background: #f0f0ff;
}

#fh5co-main {
    max-width: 95% !important;
    margin: 40px auto 5px auto !important;
}

#fh5co-footer{
    position: relative;
}

#projects-parent{
	margin: 0px 0px 50px 0px;
}

.chart span{
	width: 120px;
    top: 66px;
    font-size: 16px;
}

.fh5co-tab-wrap .fh5co-tab-menu li.active > a {
    color: #3d83bd;
}

.fh5co-tab-wrap .fh5co-tab-content .fh5co-content-inner {
    padding: 7em 0px 0px 0px !important;
}

.fh5co-tab-wrap .fh5co-tab-content {
    padding-left: 21px;
    padding-right: 35px;
}

.fh5co-tab-wrap .fh5co-tab-menu li a:after{
	
	background: #293c4c !important;
}

.fh5co-counter .fh5co-number{
	color: #3d83bd !important;	
}

.fag-projects{
	color: black;
}

.hideme
{
    opacity:0;
}

.project-box{
    height: 300px;
    padding: 20px;
    border-radius: 15px;
}

.project-box.odd{
    background: #565555;
    color: white;
}

.project-box.odd:after{
    position: absolute;
    height: 54px;
    bottom: 8px;
    border-top: 27px solid transparent;
    border-left: 20px solid #565555;
    border-right: 0px solid #565555;
    border-bottom: 27px solid transparent;
    content: " ";
    display: inline-block;
    right: 62px;
}

.project-box.eve{
    background-color: #72aee0;
    color: #121415;
}

.project-box.eve:before{
    position: absolute;
    height: 54px;
    bottom: 8px;
    border-top: 27px solid transparent;
    border-left: 0px solid #72aee0;
    border-right: 20px solid #72aee0;
    border-bottom: 27px solid transparent;
    content: " ";
    display: inline-block;
    left: 62px;
}

.first-project-container{

	padding: 50px 80px 0px 0px !important;
}

.project-container.odd{
	border-right: solid 5px #3d83bd;
    padding: 0px 80px 0px 0px;
    margin: 0px 0px -1px 5px;
}

.project-container.eve{
	border-left: solid 5px #3d83bd;
	padding: 0px 0px 0px 80px;
}

.projects-row {
	position: relative;
}

.site-title{
    background-color: #3d83bd;
    margin: 19px 0px 0px 0px;
    border-radius: 8px;
}

.site-title h1{
    margin: 12px 12px;
}

.timeline-point{
	background: #3d83bd;
    border-radius: 50%;
    bottom: 0px;
	color: white;
    height: 80px;
    left: 47%;
    padding: 3px;
    position: absolute;
    text-align: center;
    width: 80px;
    border: 6px solid white;
}

.timeline-point span{
    font-weight: bold;
}

@media (max-width: 991px){

	.first-project-container {
		padding: 42px 0px 0px 80px !important;
	}

	.project-container.odd{
		border-right: solid 0px transparent;
		border-left: solid 5px #3d83bd;
		padding: 0px 0px 0px 80px;
	}

	.project-box{
		margin: 0px 0px 40px;
	}

	.project-box.odd:after {
	   content: none;
	}

	.project-box.odd:before{
	    position: absolute;
	    height: 54px;
	    bottom: 47px;
	    border-top: 27px solid transparent;
	    border-left: 0px solid #565555;
	    border-right: 20px solid #565555;
	    border-bottom: 27px solid transparent;
	    content: " ";
	    display: inline-block;
	    left: 62px;
	}

	.project-box.eve:before{
		bottom: 47px;
	}

	.project-container.odd {
	    margin: 0px 0px -2px 0px;
	}

	.timeline-point{
		bottom: 35px;
    	left: -40px !important;
	}

}