html, body{
	background-color: #dcdcdc;
}

.search-container{
    text-align: right;
    margin: 2px 0px -38px 0px;
    z-index: 12;
}

.search-box {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: black !important;
    background-color: white;
    background-image: url('../searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s cubic-bezier(0.47, 0.38, 0.07, 0.82);
}

/* When the input field gets focus, change its width to 100% */
.search-box:focus {
    width: 300px;
}

#fh5co-parent{
	width: 100%;
	background: #f0f0ff;
}

#fh5co-main {
    border-radius: 0px;
    max-width: 100% !important;
    margin: 0px !important;
    overflow: visible !important;
}

#fh5co-footer{
    position: relative;
}

#projects-parent{
	margin: 0px 0px 50px 0px;
}

.chart span{
	width: 120px;
    top: 66px;
    font-size: 16px;
}

.chart span {
    position: absolute;
    left: 17px;
    margin-top: -14px;
}

.img-container{
    text-align: center;
}

.img-container img{
    margin: 10px 0px;
    max-width: 235px !important;
    max-height: 160px !important;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 1);
}

.tab-content-title{
	text-align: center;
}

.fh5co-counter .fh5co-number{
	color: #3d83bd !important;	
}

.fh5co-counter .fh5co-number.fh5co-left{
	text-align: right;
}

.fh5co-feature .fh5co-icon i {
    color: #3d83bd;
    font-size: 40px;
}

.fh5co-feature .fh5co-text{
	width: 60%;
}

.fh5co-feature .fh5co-icon{
    padding: 20px;
    text-align: right;
    width: 40%;
}

.fh5co-tab-wrap .fh5co-tab-menu li.active > a {
    color: #3d83bd;
}

.fh5co-tab-wrap .fh5co-tab-content .fh5co-content-inner {
    padding: 7em 0px 0px 0px !important;
}

.fh5co-tab-wrap .fh5co-tab-content {
    padding-left: 21px;
    padding-right: 35px;
}

.fh5co-tab-wrap .fh5co-tab-menu li a:after{
	
	background: #293c4c !important;
}

.fh5co-tab-wrap .fh5co-tab-content {
	padding-left: 2em;
    padding-right: 2em;
}

.fh5co-text{
	padding: 20px;		
}

.fag-projects{
	color: black;
}

.hideme
{
    opacity:0;
}

.project-title{
    font-weight: bold;
    font-size: 24px;
}

.project-box{
    min-height: 170px;
    padding: 20px;
    border-radius: 15px;
}

.project-box.odd{
    background: #565555;
    color: white;
}

.project-box.odd:after{
    position: absolute;
    height: 54px;
    bottom: 8px;
    border-top: 27px solid transparent;
    border-left: 20px solid #565555;
    border-right: 0px solid #565555;
    border-bottom: 27px solid transparent;
    content: " ";
    display: inline-block;
    right: 62px;
}

.project-box.eve{
    background-color: #72aee0;
    color: #121415;
}

.project-box.eve:before{
    position: absolute;
    height: 54px;
    bottom: 8px;
    border-top: 27px solid transparent;
    border-left: 0px solid #72aee0;
    border-right: 20px solid #72aee0;
    border-bottom: 27px solid transparent;
    content: " ";
    display: inline-block;
    left: 62px;
}

.first-project-container{

	padding: 50px 80px 0px 0px !important;
}

.project-container.odd{
	border-right: solid 5px #3d83bd;
    padding: 0px 80px 0px 0px;
    margin: 0px 0px -1px 5px;
}

.project-container.eve{
	border-left: solid 5px #3d83bd;
	padding: 0px 0px 0px 80px;
}

.projects-row {
	position: relative;
}

.site-title{
    background-color: #3d83bd;
    border: none;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}

.site-title h1{
    font-size: 45px;
    font-weight: bold;
    margin: 15px 47px;
}

.timeline-point{
	background: #3d83bd;
    border-radius: 50%;
    bottom: 0px;
	color: white;
    height: 80px;
    left: 47%;
    padding: 3px;
    position: absolute;
    text-align: center;
    width: 80px;
    border: 6px solid white;
}

.timeline-point span{
    font-weight: bold;
}

@media (max-width: 991px){

	.first-project-container {
		padding: 42px 0px 0px 80px !important;
	}

	.project-container.odd{
		border-right: solid 0px transparent;
		border-left: solid 5px #3d83bd;
		padding: 0px 0px 0px 80px;
	}

	.project-box{
		margin: 0px 0px 40px;
	}

	.project-box.odd:after {
	   content: none;
	}

	.project-box.odd:before{
	    position: absolute;
	    height: 54px;
	    bottom: 47px;
	    border-top: 27px solid transparent;
	    border-left: 0px solid #565555;
	    border-right: 20px solid #565555;
	    border-bottom: 27px solid transparent;
	    content: " ";
	    display: inline-block;
	    left: 62px;
	}

	.project-box.eve:before{
		bottom: 47px;
	}

	.project-container.odd {
	    margin: 0px 0px -2px 0px;
	}

	.timeline-point{
		bottom: 35px;
    	left: -40px !important;
	}

}